@import url( http://fonts.googleapis.com/css?family=Alef );

*
{
	padding: 0;
	margin: 0;
	font-family: 'Alef', sans-serif;
}

body
{
	background-color: #9789DB;
	font-family: 'Alef', sans-serif;
}

p
{
	font-size: 2em;
	text-align: center;
}

input
{
	display: block;
	position: absolute;
	margin: 20% 0 0 30%;
	font-size: 16pt;
	
}

button
{
	padding: 1%;
	margin: 40% 0 0 10%;
	font-family: 'Alef', sans-serif;
	color: white;
	background-color: #0769AD;
	float: left;
	border-radius: 20px;
}
