@import url( http://fonts.googleapis.com/css?family=Alef );

*
{
	padding: 0;
	margin: 0;
	font-family: 'Alef', sans-serif;
}

body
{
	background-color: #9789DB;
	font-family: 'Alef', sans-serif;
}

p
{
	font-size: 2em;
	text-align: center;
}

input
{
	display: block;
	font-size: 16pt;
	position: absolute;
	margin-top: 10%;
}

button
{
	font-family: 'Alef', sans-serif;
	color: white;
	background-color: #0769AD;
	border-radius: 20px;
	display: block;
	padding: 5%;
	margin-top: 3.5em;
}

#panel
{
	position: absolute;
	margin-top: 10em;
}
